.icon {
  display: block;
  height: 30px;
  width: 30px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--phone {
    background-image: url(../../../public/images/phone.svg);
  }
}
